/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
	/* General Styles */
	
		 @import 'utilities.css';
		  :root {
			 --primary: #3dcfd3;
			 --dark: #161616;
			 --pure: #ffffff;
			 --ternary: #898989;
			 --light: #dad8d8;
			 --secondary: #070606;
			 --orange: #e37435;
			}

			body {
				font-family: 'Lora', sans-serif;
				color: var(--light);
			}
			html {
				scroll-behavior: smooth;
			}
			* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				-webkit-font-smotthing:antialiased;
			 }

			 ol, ul, a {
				 text-decoration: none;
				 list-style-type: none;
			 }
			 .content-wrapper {
				width: 90%;
				margin: 50px 0;
			}
			.container {
			   max-width: 1152px;
			   padding: 0 15px;
			   margin: 0 auto;
		   }
		   
/* ----------------------------BASE HEADER - FOOTER STYLE -------------------------------- */
    footer,
    header {
	  background-color: #1f202b;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
	} 

    header {
      padding: 10px 0;
      width: 100%;
	  min-height: 75px;

    }

    #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
      width: 95%;
    }

    .navbar-links {
      width: 80%;
      display: flex;
      align-items: center;
      flex-flow: row wrap;
	  justify-content: center;
    }

	.navbar-links .btn-flex {
		margin-right: 4.2rem;
	}
	

    .brand-title {
      font-family: 'Galada', cursive;
      font-size: 1.5rem;
      margin-right: 2rem;
    }

    .brand-title {
      border-radius: 13px 7px;
      cursor: pointer;
    }

    .brand-title:hover {
      color: var(--primary);
      transition: .8s;
    }

    .navbar-links ul {
      margin-left: 3rem;
      padding: 0;
      display: flex;
    }

	.navbar-links ul li a {
      text-decoration: none;
      padding: 10px;
      margin: 7px;
      color: var(--pure);
      cursor: pointer;
      border-radius: 13px 7px;
      text-transform: capitalize;
    }

    .navbar-links ul li :hover {
      color: var(--ternary);
      transition: all .8s ease;
    }  

    .navbar-links ul li a.active, header nav ul li a:hover {
      background: var(--primary);
      transition: all .8s;
    }  

    .toggle-button {
      position: absolute;
      top: 1.5em;
      right: 1em;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      cursor: pointer;
    }  

    .toggle-button .bar {
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 10px;
    }

@media (max-width: 800px) {
	.toggle-button {
	 display: flex;
	}

	.navbar-links {
	  display: none;
	  width: 100%;
	}
	.navbar-links .btn-flex {
		margin: 0 14.2rem ;
	}
	
	.navbar {
	 flex-direction: column;
	 align-items: center;
	}

	.navbar-links ul {
	  width: 100%;
	  flex-direction: column;
	  margin: 1rem 0;
	}

	.navbar-links ul li {
	 text-align: center;
	 margin: .5rem 0;
	}

	.navbar-links ul li a {
	  padding: .5rem 1rem;
	}

	.navbar-links.active {
	 display: flex;
	}
}


	/* --------------------------- Mobile Styles - Homepage --------------------------- */


	  /*=============== Intro Area ============*/

	.intro {
		grid-template-rows: repeat(3, 2fr) 1fr 100px;
	}

	.intro__heading p{
		font-size: 1.5rem;
		color: var(--ternary);
		font-weight: 400;
		margin-top: 1rem;
		margin-left: 0.5rem;
		font-family: "Galada" cursive;
	}
  
	.intro__heading__jumbo {
	  font-size: 1.6rem;
	  margin-left: 0.5rem;
	  color: var(--primary);
	}

	.intro__img img {
		width: 360px;
		margin-top: 1rem;
	}

	.intro__info {
		background-color: var(--light);
		padding: 2rem .5rem;
	}

	.intro__info__heading {
		font-size: 1rem;
		color: var(--ternary);
		margin-bottom: 1rem;
	}

	.intro__info__heading span {
		color: var(--primary);
		font-size: 1.125rem;
	}
  
	.intro__info__content {
	  line-height: 1.2;
	  padding: 0;
	  font-weight: 400;
	  color: var(--ternary);
	}

	  .intro__social {
		  display: flex;
		  margin: 1rem 0 1rem .5rem;
	  }

	  .intro__social a {
		background: transparent;
		color: var(--primary);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		border: 2px solid var(--primary);
		border-radius: 50%;
		margin-right: .8rem;
	  }
  
	  /*============== about =================*/

	   section.about {
		padding: 3rem 0;
		background: var(--pure);
	   }
	    section.about .about-me-img {
		  width: 315px;
		  height: 265px;
		  border: 1px solid var(--ternary);
		}
		section .container-1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items:center;
		}
		section.about h1 {
		  font-size: 1.5rem;
		  font-weight: 100;
		  color: var(--dark);
		  margin-bottom: 2rem;
		}
		section.about h1 span {
		  color: var(--primary);
		}
		section.about h3  {
		  font-size: 1.2rem;
		  margin: 1rem 0 0 1.2rem;
		  color: var(--ternary);
		}
		section.about p {
		  font-family: 'Monserrat', sans-serif;
		  color: var(--ternary);
		  line-height: 1.2;
		  margin: 1rem  1.2rem;
		  font-size: .9rem;
		}
		section.about p span {
		  color: var(--primary);
		  font-weight: 600;
		}
		section.about ul {
		  display: flex;
		  margin-left: 1.2rem;
		}
		section.about ul a {
		  background: transparent;
		  color: var(--primary);
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  width: 35px;
		  height: 35px;
		  border: 2px solid var(--primary);
		  border-radius: 50%;
		  margin-right: 1.2rem;
		}
		section.about ul a:hover {
		  background: var(--primary);
		  color: var(--ternary);
		  transition: all .8s ease;
		}
		section.about ul a img {
		  width: 100%;
		  height: 100%;
		  padding: .5rem;
		}
		.btn-wrapper {
			display:flex;
			justify-content: center;
			align-items: center;
			margin-top: 2rem;
		}
  
	  /*======== Portfolio ========*/
	  .section-heading {
		  color: var(--dark);
		  text-align: center;
		  margin-bottom: 1.5rem;
		  line-height: .5;
	  }
  
	  .section-heading span {
		  color: var(--primary);
	  }
  
	  .section-heading + p {
		  color: var(--ternary);
		  font-family: 'Lato', sans-serif;
		  margin-bottom: 5rem;
		  margin: 0 1rem;
		  text-align:center;
		  font-size: 1rem;
	  }
	  
	  section.portfolio {
		  padding-top: 3rem;
		  background: var(--light);
	  }
  
	  section.portfolio h1 {
		  color: var(--dark);
		  font-family: 'Lato', sans-serif;
		  font-size: 1.4rem;
	  }
	  
	  section.portfolio .card-wrapper {
		  display: grid;
		  grid-template-columns: repeat(1, 1fr);
		  grid-gap: 2rem;
		  margin-top: 8rem;
	  }
  
	  section.portfolio .card-wrapper .card {
		  position: relative;
		  height: 260px;
		  margin-bottom: 4rem;
		  border: 1px solid var(--ternary);
	  }
  
	  section.portfolio .card-wrapper .card h3 {
		  position: absolute;
		  top: -6.5rem;
		  left: 50%;
		  transform: translateX(-50%);
		  margin-top: 2rem;
	  }
  
	  section.portfolio .card-wrapper .card h3 {
		  font-weight: 400;
		  font-size: 1.2rem;
		  margin-bottom: .5rem;
		  color: var(--ternary);
		  text-align: center;
	  }
  
	  section.portfolio .card-wrapper .card h3:hover {
		  color: var(--primary);
	  }
  
	  section.portfolio .card-wrapper .card p {
		  font-family: 'Lora', sans-serif;
		  color: var(--ternary);
		  line-height: 1.6;
		  padding: 20px;
		  text-align: center;
	  }
	  
	  
	  section.portfolio .card-wrapper .card .overlay {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background: rgba(61, 207, 211,0.9);
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;
		  color: var(--light);
		  opacity: 0;
		  transition: all .5s ease;
	  }
	  
	  section.portfolio .card-wrapper .card:hover .overlay {
		  opacity: 1;
	  }
	  
	  section.portfolio .card-wrapper .card .overlay a {
		  color: var(--secondary);
		  text-decoration: none;
	  }
	  
	  section.portfolio .card-wrapper .card img {
		  width: 100%;
		  height: 100%;
	  }

	  /*============== Services ==================*/
	   section.services {
		  padding-top: 3rem;
	   }

	   section.services h1 {
		   font-size: 1.4rem;
	   }
	  
	   section.services .card-wrapper {
		 display: grid;
		 grid-template-rows: repeat(1, 1fr);
		 margin-top: 6rem;
	    }
		section.services .card-wrapper .card {
			background: var(--light);
			padding: 2rem 1rem;
			position: relative;
			padding-top: 4rem;
			text-align: center;
			transition: all .5s ease;
			margin-bottom: 6rem;
		}
	
		section.services .card-wrapper .card .icon {
			position: absolute;
			top: -3rem;
			left: 33%;
			display: flex;
		}

		section.services .card-wrapper .card .icon i {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--light);
			color: var(--ternary);
			border: 2px solid var(--ternary);
			border-radius: 50%;
			width: 6rem;
			height: 6rem;
		}

		section.services .card-wrapper .card .icon i:hover {
			background-color: var(--dark);
			border-color: var(--primary);
			color: var(--primary);
			transition: all .8s ease;
		}
	
		section.services .card-wrapper .card h2 {
			font-size: 1.3rem;
			margin-bottom: 1rem;
			font-weight: 400;
			color: var(--dark);
		}
	
		section.services .card-wrapper .card p {
			font-size: 1rem;
			color: var(--ternary);
			line-height: 1.2rem;
			font-family: 'Lato', sans-serif;
		}
	
		section.services .card-wrapper .card:hover {
			background: var(--dark);
		}
	
		section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p {
			color: var(--pure);
		}
  
	  /*============== Freelancer ================*/
	  section.freelancer {
		  text-align: center;
		  background: url(../img/about.png) center, no-repeat;
		  background-size: cover;
		  clip-path: polygon(0 0, 100% 0, 100% 100%, 19% 88%, 0 100%);
		  padding-top: 3rem;
		  padding-bottom: 5rem;
	  }
	  
	  section.freelancer h1 {
		  font-size:1rem;
		  margin: 1rem .5rem;
		  color: var(--light);
	  }
	  
	  section.freelancer p {
		  margin-bottom: 3rem;
		  font-family: 'Lato', sans-serif;
		  font-size: 1rem;
		  color: var(--light);
		  margin-left: 1rem;
		  margin-right: 1rem;
	  }

  
	  /*============== Contact ================*/

	  section.contact {
		padding-top: 3rem;
		background: var(--light);
		padding-bottom: 3rem;
	}

	section.contact h1 {
		color: var(--dark);
		font-family: 'Lato', sans-serif;
		font-size: 1.4rem;
	}
			
	  section.contact .card-wrapper {
		  margin: 3rem 0;
		  display: grid;
		  grid-template-columns:repeat(1, 1fr);
		  grid-gap: 1.5rem;
	  }
	  
	  section.contact .card-wrapper .card {
		  text-align: center;
		  position: relative;
		  height: 260px;
		  background: transparent;
		  padding: 1rem;
		  border: 1px solid var(--ternary);
	  }
	  
	  section.contact .card-wrapper .card .icon {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  margin-bottom: 1rem;
	  }

	  section.contact .card-wrapper .card .icon i {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  width: 6rem;
		  height: 6rem;
		  background-color: var(--light);
		  color: var(--ternary);
		  border: 2px solid var(--ternary);
		  border-radius: 50%;
	  }

	  section.contact .card-wrapper .card .icon i:hover {
		  background-color: transparent;
		  color: var(--primary);
		  border-color: var(--primary);
		  transition: all .8s ease;
	  }
	  
	  section.contact .card-wrapper .card h2 {
		  font-size: 1.3rem;
		  margin-bottom: .5rem;
		  color: var(--ternary);
		  font-weight: 400;
	  }
  
	  section.contact .card-wrapper .card h2:hover {
		  color: var(--primary);
	  }
	  
	  section.contact .card-wrapper .card h6 {
		  font-size: 1.2rem;
		  color: var(--ternary);
		  font-weight: 400;
	  }
  
	  section.contact .card-wrapper .card h6:hover {
		  color: var(--primary);
	  }
	  
	  section.contact .input-wrap {
		  display: grid;
		  grid-template-columns:repeat(1, 1fr);
		  grid-gap: 2rem;
		  margin-bottom: 2rem;
	  }
	  
	  section.contact .input-wrap-2 {
		  display: flex;
		  flex-direction: column;
	  }
	  
	  section.contact .input-wrap-2 input {
		  margin-bottom: 2rem;
	  }
	  
	  section.contact input {
		  padding:.5rem;
		  border: 1px solid var(--light);
		  font-size: .9rem;
	  }
	  
	  section.contact .input-wrap-2 textarea {
		  padding: .5rem;
		  border: 1px solid var(--light);
		  font-size: .9rem;
	  }
	  
	  section.contact .input-wrap-2 textarea:focus, section.contact input:focus {
		  outline: none;
	  }
  
	  section.contact .btn-wrapper {
		  text-align: center;
		  margin-top: 2rem;
	  }
  
	  section.contact ul {
		  display: flex;
		  margin-left: 1.5rem;
	  }
	  
	  section.contact ul a {
		  background: transparent;
		  color: var(--ternary);
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  width: 32px;
		  height: 32px;
		  border: 2px solid var(--ternary);
		  border-radius: 50%;
		  margin-right: .8rem;
	  }
	  
	  section.contact ul a:hover {
		  background: transparent;
		  color: var(--primary);
		  border-color: var(--primary);
		  transition: all .8s ease;
	  }
	  
	  section.contact ul a img {
		  width: 100%;
		  height: 100%;
		  padding: .5rem;
	  }
  
	  /*============== Footer ================*/
	  footer {
		  background: var(--dark);
		  text-align: center;
	  }			
	  footer .footer-logo {
		  margin-bottom: 3rem;
		  width:180px;
	  }		
	  footer .footer-socials {
		  padding: 2rem 0;
		  display: flex;
		  justify-content:center;
		  align-items: center;
	  }	
	  footer .footer-socials ul {
		  display: flex;
	  }			
	  footer .footer-socials ul a {
		  background: var(--primary);
		  display: flex;
		  align-items: center;
		  justify-content:center;
		  margin-right: 1rem;
		  width: 35px;
		  height: 35px;
		  border: 2px solid var(--dark);
		  border-radius: 50%;
		  color: var(--dark);
	  }
	  footer .footer-socials ul a:hover {
		  background: transparent;
		  border-color: var(--primary);
		  color: var(--primary);
		  transition: all .8s ease;
	  }		
	  footer .copyright {
		color: var(--ternary);
	  }			
	  footer .copyright {
		  width: 100%;
	  }
	  footer .social-icons {
		  width: 12.5em;
		  justify-content: space-between;
	  }
 
	
/* ==========================================================================
	 About Page
	 ========================================================================== */
		


/* ==========================================================================
	 Helper classes
	 ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 These examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */
 
@media (min-width: 640px) {
		/*================ Tablet Styles here ==============================*/
	
		/*============== General styles ===============*/
		.container {
			max-width: 720px;
		}
		.content-wrapper {
			max-width: 640px;
			max-height: 600px;
			margin: 4rem;
		}
	
		h1 {
			color: var(--dark);
			font-weight: 400;
		}
	
		h2 {
			color: var(--dark);
		}
	
		h3, h4, h6 {
			line-height: 1.25;
			color: var(--dark);
		}
		span {
			color: var(--primary);
		}
		p {
			color: var(--ternary);
			line-height: 1.5;
		}
	/*============ Header area ===========*/
		header {
		  width: 100%;
		  padding: 1rem 0;
		}
		header .brand-title {
			font-size: 1.8rem;
		}
		header .navbar {
		   width: 90%;
		}
		header .btn-primary {
		  margin-left: -13rem; 
		  font-size: 1.2rem;
		}
	/*=============== Intro Area ============*/

	 .intro {
		margin: 0;
		display: grid;
		grid-template-columns: 100px 1fr minmax(auto, 200px) minmax(auto, 200px) 1fr 100px;
		grid-template-rows: 3fr 1fr 3fr 3fr 100px;
	  }
	  
	  .intro .intro__heading {
		padding: 1rem .5rem;
		grid-column: 1 / -1;
		grid-row: span 1;
	  }

	  .intro .intro__heading p {
		  font-size: 3rem;
		  font-weight: 600;
		  color: var(--ternary);
	  }
	  
	  .intro .intro__heading__jumbo {
		font-size: 3rem;
		display: block;
		font-weight: 600;
		font-family: "Lato", "Raleway", sans-serif;
		color: var(--primary);
	  }
	  
	  .intro__info {
		padding: 32px 24px;
		background-color: #e6eece;
		z-index: 2;
		grid-column: 1 / -1;
		grid-row: 4 / span 1;
		border-radius: .25rem;
		border: 1px solid #d9dad7;
		grid-row: 4 / 5;
	  }
	  
	  .intro__info__heading {
		font-size: 1.5rem;
		margin-bottom: .5rem;
		color: var(--ternary);
		font-family: "Poppins", "Railway" sans-serif;
	  }

	  .intro__info__heading span {
		  font-size: 1.6rem;
		  font-weight: 600;
	  }
	  
	  .intro__info__content {
		font-size: 1.3rem;
		line-height: 1.2;
		padding-right: 6rem;
		color: var(--ternary);
		font-family: "Poppins", "Railway" sans-serif;
	  }
	  
	  .intro__img {
		grid-column: 1 / -2;
		grid-row: 2 / span 4;
	  }
	  
	  .intro__img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin: 0;
	  }
	  
	  .intro__social {
		display: flex;
		list-style-type: none;
		margin: 0 0 9rem 0;
		padding: 0;
		flex-direction: column;
		align-self: end;
		justify-self: center;
		padding: 0;
		grid-column: -2 / -1;
		grid-row: 2 / span 3;
		align-self: center;
	  }

	  .intro__social a {
		background: transparent;
		color: var(--primary);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		border: 2px solid var(--primary);
		border-radius: 50%;
		margin-right: 1.4rem;
		margin-bottom: 1rem;
	  }

	  .intro__social a:hover {
		  background: var(--primary);
		  color: var(--ternary);
		  transition: all .5s ease;
	  }
	  
	  .intro__social__item {
		width: 35px;
		height: 35px;
		margin: 0 0 0 32px;
		background-color: #8eaa3c;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
		font-size: 18px;
	  }

	
	/*===================== About Section =======================*/

	section .container-1 {
		display: flex;
		flex-direction: row;
		flex-flow: row-reverse;
		justify-content: center;
		align-items:center;
	}
	
	section.about .about-me-img {
		width: 350px;
		height: 450px;
	  }
	  section.about h1 {
		font-size: 2rem;
		font-weight: 400;
		margin-bottom: 4rem;
	  }
	  section.about h1 span {
		color: var(--primary);
	  }
	  section.about h3  {
		font-size: 1.5rem;
		font-weight: 600;
		margin-left: 1.3rem;
		margin-top: 0;
	  }
	  section.about p {
		font-family: 'Monserrat', sans-serif;
		color: var(--ternary);
		line-height: 1.2;
		margin-bottom: 1.5rem;
		font-weight: 400;
		font-size: 1rem;
	  }
	  section.about p span {
		color: var(--primary);
		font-weight: 400;
	  }
	  section.about ul {
		display: flex;
		margin-left: 1rem;
	  }
	  section.about ul a {
		margin-right: 1.4rem;
	  }
  
	/*======== Portfolio ========*/

	.section-heading {
		color: var(--dark);
		text-align: center;
		margin-bottom: 1.5rem;
		line-height: .5;
	}

	.section-heading + p {
		color: var(--ternary);
		font-family: 'Lato', sans-serif;
		margin-bottom: 5rem;
		margin: 0 2rem;
		text-align:center;
		font-size: 1.5rem;
	}

	section.portfolio h1 {
		color: var(--dark);
		font-family: 'Lato', sans-serif;
		font-size: 2rem;
	}
	
	section.portfolio .card-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}

	section.portfolio .card-wrapper .card {
		position: relative;
		height: 260px;
		margin-bottom: 4rem;
		border: 1px solid var(--ternary);
	}

   	/*============== Services ================*/

	section.services .card-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		margin-top: 8rem;
	}

	section.services .card-wrapper .card {
		margin-bottom: 4rem;
	}

	section.services h1 {
		color: var(--dark);
		font-family: 'Lato', sans-serif;
		font-size: 2rem;
	}



	/*============== Freelancer ================*/
	section.freelancer {
		text-align: center;
		background: url(../img/about.png) center, no-repeat;
		background-size: cover;
		color: var(--pure);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 31% 85%, 0 100%);
		padding-bottom: 10rem;
	}
	
	section.freelancer h1 {
		font-size: 2rem;
		margin-bottom: 1rem;
		color: var(--light);
	}
	
	section.freelancer p {
		margin-bottom: 3rem;
		font-family: 'Lato', sans-serif;
		font-size: 1.5rem;
		color: var(--light);
	}

	/*============== Contact Section ================*/

	section.contact h1 {
		color: var(--dark);
		font-family: 'Lato', sans-serif;
		font-size: 2rem;
	}
	
	section.contact .card-wrapper {
		display: grid;
		grid-template-columns:repeat(3, 1fr);
	}
	
	section.contact .card-wrapper .card {
		background-color: var(--light);
		border: none;
		padding: 0;
	}
	
	section.contact .card-wrapper .card img {
		margin-bottom: 1.5rem;
		width: 80px;
	}
	
	section.contact .card-wrapper .card h2 {
		font-size: 1.4rem;
		margin-bottom: 1rem;
		color: var(--ternary);
	}

	section.contact .card-wrapper .card h2:hover {
		color: var(--primary);
	}
	
	section.contact .card-wrapper .card h6 {
		font-size: 1rem;
		color: var(--ternary);
	}

	section.contact .card-wrapper .card h6:hover {
		color: var(--primary);
	}
	
	section.contact .input-wrap {
		display: grid;
		grid-template-columns:repeat(3, 1fr);
	}
	
	section.contact .input-wrap-2 {
		display: flex;
		flex-direction: column;
	}
	section.contact ul {
		display: flex;
		margin-left: .8rem;
	}

	section.contact input {
		padding-right: 4.5rem;
	}

	section.contact ul a {
		margin-right: .5rem;
	}
	
}
/* ==========================================================================
	About Page
	========================================================================== */
	
/* ==========================================================================
		FAQ Page
		========================================================================== */
	
	@media only screen and (min-width: 1200px) {
		/*=========== Desktop style here ========*/	

		.container {
			max-width: 1152px;
		}
		.content-wrapper{
			max-width: 960px;
		}
		h1 {
			font-size: 2rem;
			color: var(--dark);
		}
		h2,
		h3 {
			font-size: 2rem;
			color: var(--dark);
		}
		h6 {
			font-size: 1.5rem;
			color: var(--dark);
		}
		p {
			font-size: 1.125rem;
			line-height: 1.2;
			color: var(--dark);
		}
		.btn-wrapper {
			text-align: center;
			margin-top: 2rem;
			margin-top: 4rem;
		}
		span {
			font-family: 'Galada', cursive;
			font-size: 1.9rem;
			font-weight: 600;
		}

		header {
			padding: .5rem 0;
		}

		header #navbar {
			margin-left: 3rem;
		}

		header .navbar-links ul {
			margin-right: 8rem;
			margin-left: 0;
		}
		
	
	/*============== Intro Area ================*/

	  .intro {
		grid-template-rows: repeat(2, 1fr) 100px 100px;
		grid-template-columns: 100px 1fr minmax(auto, 100px) minmax(auto, 200px) 1fr 100px;
	  }

	  .intro .intro__heading p{
		  font-size: 2rem;
	  }

	  .intro .intro__heading p span {
		  font-family: 'Rye', cursive;
	  }
	
	  .intro .intro__heading {
		align-self: center;
		justify-self: center;
		grid-row: 1 / 2;
		grid-column: 1 / span 2;
		
	  }
	
	  .intro .intro__heading__jumbo {
		font-size: 3rem; 
	  }
	
	  .intro__info {
		padding: 50px;
		grid-column: 1 / 5;
		grid-row: 2 / 3;
		margin-right: 2rem;
	  }

	  .intro__info__heading {
		  font-size: 1.3rem;
		  color: var(--ternary);
	  }
	
	  .intro__info__content {
		line-height: 1.5;
		padding: 0;
		color: var(--ternary);
	  }
	
	  .intro__img {
		grid-column: 4 / span 3;
		grid-row: 1 / span 5;
		border: 1px solid var(--ternary);
	  }
	
	  .intro__social {
		flex-direction: row;
		align-self: start;
		justify-self: start;
		grid-column: 2 / span 2;
		grid-row: 3 / span 3;
		margin: 1rem 0 0 0;
		padding: 0;
	  }
	
	  .intro__social__item {
		margin: 0 32px 0 0;
	  }
	

	/*============= about me ============*/
        
	    section .container-1 {
		  margin: 3rem ;
		  display: flex;
		  flex-flow: nowrap;
	    }
		section.about .about-me-img {
		  width: 540px;
		  height: 580px;
		}
		section.about h1 {
		  margin-bottom: 6rem;
		  font-size: 2rem;
		}

		section.about h3  {
		  font-size: 1.5rem;
		  margin-bottom: 1rem;
		}
		section.about p {
		  font-family: 'Monserrat', sans-serif;
		  color: var(--ternary);
		  line-height: 1.2;
		  margin-bottom: 2rem;
		  font-size: 1.5rem;
		}
		section.about p span {
			font-size: 1.5rem;
		}

		section.about p:focus {
			background-color: #ffff00;
		}

	
	/*============= Portfolio ============*/

		.section-heading {
			color: var(--dark);
			text-align: center;
			margin-bottom: 1.5rem;
			line-height: .5;
		}
	
		.section-heading + p {
			color: var(--ternary);
			font-family: 'Lato', sans-serif;
			margin-bottom: 6rem;
			text-align:center;
			font-size: 1.2rem;
		}
		
		section.portfolio .card-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 2rem;
			margin-top: 10rem;
		}

		
		#react:hover {
			animation-name: overlays;
			animation-duration: 1s;
		}

		@keyframes overlays {
			0% {
				top: -20px;
			}
			100% {
				top: -20px;
			}
			
		}
		
	/*========== Services =============*/

	section.services {
		background: var(--pure);
		padding: 4rem 0;
	}

	section.services .card-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 4rem 2rem;
	}

	section.services .card-wrapper .card {
		background: var(--light);
		padding: 2rem 1rem;
		position: relative;
		padding-top: 4rem;
		text-align: center;
		transition: all .5s ease;
	}
	
	/*========= Freelancer ==========*/
		
		section.freelancer h1 {
			font-size: 2.3rem;
			margin-bottom: 1.5rem;
			color: var(--light);
			margin-top: 3rem;
			font-weight: 600;
		}
		
		section.freelancer p {
			margin-bottom: 2rem;
			font-family: 'Lato', sans-serif;
			color: var(--light);
			font-size: 1.2rem;
		}
	
	/*======== Contact =========*/

	    section.contact .card-wrapper {
			margin: 0 0 4rem 0;
		}
		
		section.contact .card-wrapper .card {
			position: relative;
		}

		section.contact .card-wrapper .card h2 {
			font-weight: 400;
			margin-bottom: 1rem;
			color: var(--ternary);
			font-size: 2rem;
		}
	
		section.contact .card-wrapper .card h2:hover {
			color: var(--primary);
		}
		
		section.contact .card-wrapper .card h6 {
			font-size: 1.2rem;
			color: var(--ternary);
		}
	
		
		section.contact .input-wrap {
			display: grid;
			grid-template-columns:repeat(2, 1fr);
			grid-gap: 2rem;
			margin-bottom: 2rem;
		}
		
		section.contact ul {
			display: flex;
			margin-left: 2.5rem;
		}
		
		section.contact ul a {
			margin-right: 1.2rem;
		}
		
	}

	
 /* ==========================================================================
		About Page
		========================================================================== */

/* ==========================================================================
			 FAQ Page
	 ========================================================================== */

/* ==========================================================================
	 Print styles.
	 Inlined to avoid the additional HTTP request:
	 https://www.phpied.com/delay-loading-your-print-css/
	 ========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}